@import url('https://fonts.googleapis.com/css?family=Oswald');

header.masthead {
    background: url('../img/fieldwork_resized.png') repeat center center;
}

#iconSection, #partnerSection {
    border-style: solid;
    border-width: 5px 0 5px 0;
    border-color: rgba(255, 255, 255, 0.05);
}

.call-to-action {
    background: url('../img/mussels.jpg') repeat center center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}

a {
    color: rgba(255,255,255,.5);
}

a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.bg-dark {
    background-color: #0e201d !important;
}

.text-primary {
    color: #ffffff!important;
}

img {
    background: #F4F5F6;
}

p {
    color: rgba(255,255,255,.5);
}

#mainNav {
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: rgba(255, 255, 255, 0.05);
}

body {
    font-family: Oswald !important;
}

html {
    font-family: Oswald !important;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/*Google Material Icons*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
