.info {
    width: 320px;
    height: 210px;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 40px;
    padding: 6px 8px;
    font: 14px Oswald, sans-serif;
    text-align: left;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px #0e201d;
    border-radius: 5px;
}
.update p {
    font-size: 20px;
    margin: 0 0 0;
    color: #000000;
}
.update h2.subtitle {
    font-size: 24px;
    margin: 0 0 0;
    color: #000000;
}

@media (min-width: 768px) {
    .storymap-story {
        position: absolute ;
        right: 5px;
    }
    .storymap-legend {
        left: 57px;
    }
    .attribution {
        font-size: 1vw;
    }
}

@media (max-width: 768px) {
    .attribution {
        font-size: 3vw;
    }
}

.storymap-legend {
    width: 200px;
}

div.modal-content {
    width: 504px;
}

.viewing {
    color: #1c1c1c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 1.0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
}

#nav-title {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 22px;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

.map {
    padding: 10px;
}

p a {
    color: black;
    font-family: Oswald, sans-serif;
    font-size: 1vw;
}

p a:hover {
    color: black;
    font-family: Oswald, sans-serif;
    font-size: 1vw;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
    background-color: rgba(0, 7, 10, 0.75);
    transition: all 0.05s ease-in-out;
}

.overlay:hover {
    opacity: 0.8;
}

.text {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

h3 {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 2vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

h3 a {
    color: white;
    font-size: 3vw;
}

h3.storytext {
    font-family: Oswald, sans-serif;
    color: rgba(0, 0, 0, 0.95);
    font-size: 1vw;
    text-shadow: 0 0 0 rgba(0, 0, 0, .95);
}

h3 a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000000;
    font-size: 3vw;
}

h4 {
    margin-top: 10%;
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 2vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

h5 {
    font-family: Oswald, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1vw;
    text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

.storymap-attribution {
    position: fixed;
    bottom: 0;
    left: 0;
}

.feature-tooltip {
    font-family: 'Oswald', sans-serif;
    color: #738D2B;
    font-size: 14px;
    font-weight: lighter;
}

@media (max-width: 992px) {
    .leaflet-control-zoom {
        position: relative;
        bottom: 20px;
    }
}

#tide-slider {
   width: 100%;
   height: 600px;
}

.chart-wrapper {
    max-width: 950px;
    min-width: 304px;
    margin: 0 auto;
    background-color: #FAF7F7;
}
.chart-wrapper .inner-wrapper {
    position: relative;
    padding-bottom: 50%;
    width: 100%;
}
.chart-wrapper .outer-box {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
.chart-wrapper .inner-box {
    width: 100%;
    height: 100%;
}
.chart-wrapper text {
  font-family: sans-serif;
  font-size: 11px;
}
.chart-wrapper p {
    font-size: 16px;
    margin-top:5px;
    margin-bottom: 40px;
}
.chart-wrapper .axis path,
.chart-wrapper .axis line {
    fill: none;
    stroke: #1F1F2E;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;

}
.chart-wrapper .axis path {
  stroke-width: 2px;
}
.chart-wrapper .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}
.chart-wrapper .legend  {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 10px 40px;
}
.chart-wrapper .legend > div {
    margin: 0px 25px 10px 0px;
    flex-grow: 0;
}
.chart-wrapper .legend p {
    display:inline;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
}
.chart-wrapper .legend .series-marker {
    height: 1em;
    width: 1em;
    border-radius: 35%;
    background-color: crimson;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}
.chart-wrapper .overlay {
  fill: none;
  pointer-events: all;
}
.chart-wrapper .focus circle {
  fill: crimson;
  stroke: crimson;
  stroke-width: 2px;
  fill-opacity: 15%;
}
.chart-wrapper .focus rect {
    fill: lightblue;
    opacity: 0.4;
    border-radius: 2px;
}
.chart-wrapper .focus.line {
    stroke: steelblue;
    stroke-dasharray: 2,5;
    stroke-width: 2;
    opacity: 0.5;
}
@media (max-width:500px){
    .chart-wrapper .line {stroke-width: 3px;}
    .chart-wrapper .legend {font-size: 14px;}
}

.y-axis line {
	opacity:.2;
}
.y-axis path {
	display:none;
}
.line {
	fill: none;
	stroke-width: 1.5px;
	opacity:.75;
}
.overlay {
	fill: none;
	pointer-events: all;
}
.lineHoverText {
	text-shadow:
	0px 0px 0 #fff,
	0px 0px 0 #fff,
	0px 0px 0 #fff,
	0px 0px 0 #fff;
}
.hoverCircle {
	opacity: .75;
}